<body>
  <div class="header">
    <div class="header-left">
      <div class="sound-icon" (click)="toggleAudio()">🔊</div>
      <div class="timer">⏳ {{ tiempoRestante }}s</div>
    </div>

    <div class="header-center">
      <div class="nickname"><h3>{{ nickname | titlecase}}</h3></div>
    </div>

    <div class="header-right">
      <div class="score">⭐ {{ score + localScore }}</div>
      <div class="lives">
        <span *ngFor="let _ of livesArray">❤️</span>
      </div>
    </div>
  </div>


  <main>
    <div id="tablero" class="no-select">
      <div *ngFor="let tarjeta of tarjetas" class="card" (click)="seleccionarTarjeta(tarjeta.indice)"
        [class.flipped]="tarjeta.volteada || tarjeta.encontrada">
        <div class="card-face front">
          <i class="far fa-question-circle"></i>
        </div>

        <div class="card-face back">
          <div class="back-content" [innerHTML]="tarjeta.img"></div>
        </div>

      </div>
    </div>
  </main>

  <footer>
    <button class="btn" (click)="generarTablero()">
      🔄 Revolver Cartas
    </button>
  </footer>
</body>
