<div class="game-container">

  <div class="header">
    <div class="header-left">
      <div class="sound-icon" (click)="toggleAudio()">🔊</div>
      <div class="timer">⏳ {{ tiempo }}s</div>
    </div>

    <div class="header-center">
      <div class="nickname"><h3>{{ nickname | titlecase}}</h3></div>
    </div>

    <div class="header-right">
      <div class="score">⭐ {{ score + localScore }}</div>
      <div class="lives">
        <span *ngFor="let _ of livesArray">❤️</span>
      </div>
    </div>
  </div>




  <div class="icons-area">
    <div class="icons-grid">
      @for (item of gameItems; track item.id) {
      <div class="icon-container" [class.matched]="item.matched" (dragover)="onDragOver($event)"
        (drop)="onDrop($event, item)">
        <div class="icon-placeholder" [class]="item.iconClass">
          <img [src]="item.src" alt="" width="100" height="100px" style="object-fit: cover;">
        </div>
      </div>
      }
    </div>
  </div>

  <div class="text-area">
    <div class="text-labels">
      @for (name of shuffledNames; track name) {
      <div class="text-label" draggable="true" (dragstart)="onDragStart($event, name)">
        {{ name }}
      </div>
      }
    </div>
  </div>

  <div class="decorations">
    <div class="decoration-circle circle-1"></div>
    <div class="decoration-circle circle-2"></div>
    <div class="decoration-circle circle-3"></div>
    <div class="decoration-circle circle-4"></div>
    <div class="decoration-circle circle-5"></div>
    <div class="decoration-circle circle-6"></div>
  </div>

  <div class="control-buttons">
    <button class="btn-primary" (click)="resetGame()">Reiniciar Juego</button>
  </div>
</div>
