<div class="game3-wrapper">
  <div class="header">
    <div class="header-left">
      <div class="sound-icon" (click)="toggleAudio()">🔊</div>
      <div class="timer">⏳ {{ tiempoRestante }}s</div>
    </div>

    <div class="header-center">
      <div class="nickname">
        <h3>{{ nickname | titlecase}}</h3>
      </div>
    </div>

    <div class="header-right">
      <div class="score">⭐ {{ score + localScore }}</div>
      <div class="lives">
        <span *ngFor="let _ of livesArray">❤️</span>
      </div>
    </div>
  </div>

  <div class="container">
    <div *ngIf="!juegoTerminado" class="text-center">
      <h1 class="titulo">{{ preguntaActualData.titulo }}</h1>
      <div class="pregunta">{{ preguntaActualData.pregunta }}</div>


      <div class="flex gap-4">
        <img [src]="preguntaActualData.imagen" [alt]="'Imagen de la pregunta ' + (preguntaActual + 1)"
          class="imagen w-1/2">


        <div class="opciones w-1/2">
          <div *ngFor="let opcion of preguntaActualData.opciones" class="opcion"
            [class.seleccionada]="esOpcionSeleccionada(opcion)" (click)="seleccionarRespuesta(opcion)">
            {{ opcion }}
          </div>
        </div>
      </div>

      <div class="navegacion">
        <button class="btn-anterior" (click)="preguntaAnterior()" [disabled]="esPrimeraPregunta">
          Anterior
        </button>

        <button *ngIf="!esUltimaPregunta" class="btn-siguiente" (click)="preguntaSiguiente()"
          [disabled]="!preguntaActualRespondida">
          Siguiente
        </button>

        <button *ngIf="esUltimaPregunta" class="btn-finalizar" (click)="finalizarJuego()"
          [disabled]="!todasLasPreguntasRespondidas">
          Finalizar
        </button>
      </div>

      <div class="progreso text-black">
        Pregunta {{ preguntaActual + 1 }} de {{ preguntas.length }}
      </div>
    </div>

    <div *ngIf="juegoTerminado">
      <h1 class="titulo">¡Juego Terminado!</h1>

      <div class="resultado">
        <h2>Respondiste {{ contarRespuestasCorrectas() }} de {{ preguntas.length }} correctamente</h2>

        <div class="resumen-grid">
          <div *ngFor="let pregunta of preguntas; let i = index" class="resumen-respuesta"
            [class.correcta]="esRespuestaCorrecta(i)" [class.incorrecta]="!esRespuestaCorrecta(i)">

            <span class="icono">{{ esRespuestaCorrecta(i) ? '✓' : '✗' }}</span>

            <div>
              <p><strong>{{ pregunta.pregunta }}</strong></p>
              <p>Tu respuesta: {{ respuestas[i] }}</p>
              <p>Respuesta correcta: {{ pregunta.respuestaCorrecta }}</p>
            </div>
          </div>
        </div>

        <button class="btn-reiniciar" (click)="nextLevel()">
          Siguiente nivel
        </button>
      </div>

    </div>
  </div>
</div>
